@keyframes slide_in {from{transform: translateX(100%)}to{transform: translateX(0)}}
@-webkit-keyframes slide_in {from{-webkit-transform: translateX(100%)}to{-webkit-transform: translateX(0)}}

form {
	position: relative;
	margin: auto;
	width: 500px;
	height: auto;
	overflow: hidden;
	top: 100px;
	background-color: rgba(30,30,30,0.7);
	padding: 20px;
	color: #fefefe;
	font-size: 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	border: none;
	margin-bottom: 150px;
	animation: slide_in 1s ease-in-out;
	-webkit-animation: slide_in 1s ease-in-out;
}

label, input, select {
	display: inline-block;
	width: 150px;
	height: 30px;
	line-height: 30px;
	margin: 10px 0; 
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: none;
}

textarea {
	display: block;
	width: 300px;
	height: 80px;
	padding: 15px;
	font-size: 15px;
	margin: 10px auto;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: none;
}

input, select, textarea {
	background-color: #fefefe;
	padding-left: 5px
}

select, option {
	cursor: pointer;
}

label {
    display: inline-block;
    margin-right: 20px;
    width: 190px;
    text-align: left;
}

input[type=submit] {
	height: 35px;
	width: 155px;
	line-height: 35px;
	background: #fefefe !important;
	font-weight: 700;
	color: #333;
	margin: 10px;
	cursor: pointer;
	display: inline-block;
}

form span a {
	color: #999;
	text-decoration: none;
}

#forgot-password { 
	display: inline-block;
	height: 35px;
	width: 155px;
	line-height: 35px;
	background: #d9d9d9 !important;
	font-weight: 400;
	color: #333;
	margin: 10px;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: none;
	vertical-align: top;
	font-size: 16px;
}

#switcher_login {
	position: relative;
	margin-top: 25px;
}

#switcher_login a {
	color: #999;
}